<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDoList</title>
  <link rel="stylesheet" href="css/styles.css">


</head>

<body>
  <div class="top-div">
    <a href="/" style="text-decoration: none">
      <h1>Study Assistant</h1>
    </a>
    <p id="h1-helper">A site that helps <span class="title_style">you</span> study</p>

      <a class="Main-Links" href="/Pomodoro">My Pomodoro</a>
      <a class="ToDo-Link" href="/ToDoList">My ToDoList</a>
      <a class="Main-Links" href="/Brainstorm">Brainstorm</a>

    <hr class="top-hr">

  </div>
  <div class="middle-div">
    <p>Brainstorming Notes for Today:</p>
    <form class="Brainstorm" action="index.html" method="post">
      <fieldset>
        <label for="Brainstorm">General brainstorming for today: </label>
        <textarea id="Brainstorm" name="Brainstorm" rows="15" cols="60"></textarea>
          <a href="mailto:youremail@example.com">Email your notes with this button! Note: Scroll bar can be activated inside</a>
      </fieldset>

    <!-- </form>
    <form class="subscribe" action="index.html" method="post">
      <p>Enter your email and subscribe!</p>
      <input type="text" name="subscribe" placeholder="Enter email here!" >
      <button class="subscribebtn" type="submit" name="button">+</button>

    </form> -->

  </div>
  <div class="bottom-div">
    <img class="studypics" src="images/tea.jpg"  alt="StudyTime">
    <img class="studypics" src="images/geometry.jpg" alt="Math">
    <img class="studypics" src="images/school-work.jpg" alt="StudyOld">
    <br />
    <a href="https://pixabay.com/images/id-3240766/">picture source</a>
    <a href="https://pixabay.com/images/id-1023846/">picture source</a>
    <a href="https://pixabay.com/images/id-851328/">picture source</a>
    <p>2020 Srikanth Medicherla.</p>
  </div>
  </div>
</body>

</html>
