<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDoList</title>
  <link rel="stylesheet" href="css/styles.css">


</head>

<body>

  <div class="top-div">
    <a href="/" style="text-decoration: none">
      <h1>Study Assistant</h1>
    </a>
    <p id="h1-helper">A site that helps <span class="title_style">you</span> study</p>

    <a class="Main-Links" href="/Pomodoro">My Pomodoro</a>
    <a class="ToDo-Link" href="/ToDoList">My ToDoList</a>
    <a class="Main-Links" href="/Brainstorm">Brainstorm</a>

    <hr class="top-hr">

  </div>
  <div class="middle-div">
    <h3 class="pomobanner">My Pomodoro</h3>

    <table class="table">
      <tr>
        <th class="pomo2"></th>
        <th class="pomo2">Minutes</th>
        <th class="pomo2">Seconds</th>
      </tr>
      <tr class="pomo2">
        <th class="pomo2">Work Timer: </th>
        <td class="pomo3"><p id="workMin"> 20</p></td>
        <td class="pomo3"><p id="workSec"> 00</p></td>
      <tr>
        <th class="pomo2">Break Timer: </th>
        <td class="pomo3"><p id="breakMin"> 05</p></td>
        <td class="pomo3"><p id="breakSec"> 00</p></td>
      </tr>
    </table>
    <table>
      <td ><strong style="padding-left: 75px">Pomodoro Sessions Completed:</strong> </td>
      <td><p id="counter">0</p></td>
    </table>
    <br />
    <a class="pomo" id="start" onclick="start()">Start Work Timer</a>
    <a class="pomo" id="break" onclick="restStart()">Start Break Timer</a>
    <a class="pomo" id="reset" onclick="reset()">Reset</a>
    <br /><br /><br />
    <p><strong>Instructions: </strong><br>This will be a 20min Work/5min Rest Pomodoro. Please select Work and then Rest and continue for as many Pomodoro sessions as needed. Reset button resets all timers.</p>
  </div>

  </div>
  <hr>
  <div class="bottom-div">
    <img class="studypics" src="images/tea.jpg"  alt="StudyTime">
    <img class="studypics" src="images/geometry.jpg" alt="Math">
    <img class="studypics" src="images/school-work.jpg" alt="StudyOld">
    <br />
    <a href="https://pixabay.com/images/id-3240766/">picture source</a>
    <a href="https://pixabay.com/images/id-1023846/">picture source</a>
    <a href="https://pixabay.com/images/id-851328/">picture source</a>
    <p>2020 Srikanth Medicherla.</p>
  </div>
  </div>



  <script type="text/javascript">
    var workMin = document.getElementById('workMin').innerHTML
    var workSec = document.getElementById('workSec').innerHTML
    var restMin = document.getElementById('breakMin').innerHTML
    var restSec = document.getElementById('breakSec').innerHTML
    var counter = document.getElementById('counter').innerHTML
    var seconds = 1;
    var minutes = 0;
    var counter = 0;
    var breakSeconds = 1;
    var breakMinutes = 0;

    // Set up variables and then used onclick attribute to move timers forward.
    // Used setInterval and clearInterval with DOM to track time and update varibles.


    function start() {
      end = setInterval(countup, 1000)
    }
    function restStart() {
      endRest = setInterval(countupRest, 1000)
    }

    function reset() {
      document.getElementById('workMin').innerHTML = 20
      document.getElementById('workSec').innerHTML = 0
      document.getElementById('breakMin').innerHTML = 5
      document.getElementById('breakSec').innerHTML = 0
      seconds = 1;
      minutes = 0;
      breakSeconds = 1;
      breakMinutes = 0;
      clearInterval(end), clearInterval(endRest);
    }

    function countup() {
      if (minutes == 0){
        document.getElementById('workMin').innerHTML = 20 - 1
      }

      if (minutes == 20) {
        counter += 1
        document.getElementById('counter').innerHTML = counter;
        console.log(seconds, minutes, counter, "reset");
        seconds = 0;
        document.getElementById("workSec").innerHTML = 00;
        document.getElementById("workMin").innerHTML = 20;
        minutes = 0;
        clearInterval(end);

      }
      if (seconds % 60 == 0) {
        minutes += 1;
        seconds = 1;
        document.getElementById('workSec').innerHTML = 0
        document.getElementById('workMin').innerHTML = 19 - minutes
        console.log(seconds, minutes, counter)
      }
      seconds += 1;
      console.log(seconds, minutes, counter)
      document.getElementById('workSec').innerHTML = 60 - seconds
    }




    function countupRest() {
      if (breakMinutes == 0) {
        document.getElementById('breakMin').innerHTML = 5 - 1
      }


      if (breakMinutes == 5) {
        breakSeconds = 0;
        document.getElementById("breakSec").innerHTML = 00
        document.getElementById("breakMin").innerHTML = 5
        breakMinutes = 0;
        clearInterval(endRest);

      }
      if (breakSeconds % 60 == 0) {
        breakMinutes += 1;
        breakSeconds = 1;
        document.getElementById('workSec').innerHTML = 0
        document.getElementById("breakMin").innerHTML = 4 - breakMinutes
        console.log(breakSeconds, breakMinutes, counter)
      }
      breakSeconds += 1;
      console.log(breakSeconds, breakMinutes, counter)
      document.getElementById("breakSec").innerHTML = 60 - breakSeconds
    }

  </script>

</body>

</html>
